* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 1fr;
}

.sidebar {
  height: 100vh;
  background-color: rgb(26, 167, 223);
}

.nav-a {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1.2vh 0vw 1.2vh 1.55rem;
  color: white;
  font-weight: 450;
}

.nav-a>img {
  width: 1rem;
  height: auto;
}

#dashboard {
  padding: 2vh 0vw 4vh 1rem;
  font-size: 1.3rem;
}

#dashboard>img {
  width: 2rem;
  height: auto;
}

#settings {
  padding-top: 5vh;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
}

.header {
  color: black;
}

.header-top {
  background-color: purple;
  height: 50%;
}

.header-bottom {
  background-color: yellow;
  height: 50%;
}

.content {
  color: black;
  display: grid;
  /* Use minmax */
  grid-template-columns: 7fr 3fr;
}

.content-left {
  background-color: red;
}

.content-right {
  color: black;
}

.announcements {
  background-color: green;
  height: 50%;
}

.trending {
  background-color: orange;
  height: 50%;
}